<h1>Welcome to the app!</h1>

<% if (user) { %>
  <p>Hi <%= user.username %></p>
  <a href="/auth/sign-out">Sign out</a>
  <br><a href="/links">Manage Links</a>
  <br><a href="/u/<%= user.slug %>">View your public page</a>
<% } else { %>
  <a href="/auth/sign-in">Sign in</a> | 
  <a href="/auth/sign-up">Sign up</a>
<% } %>
